img {
    width: 20px;
    height: 20px;
}

tr {
    border: 2px solid black;
}

td {
    padding-left: 10px;
}

table {
    border-collapse: collapse;
}

.tr_blue {
    background-color: lightblue;
}

.day {
    background-color: aqua;
}