body {
    display: flex;
    justify-content: center;
}

.ui-container {
    display: flex;
    flex-direction: column;
    font-size: 4vw;
    width: 50%;
    background-color: gray;
    padding: 10px;
    font-size: 2vw;
}

.ui-container * {
    margin-top: 10px;
}