html {
    font-family: Arial, Helvetica, sans-serif;
}

.home_robot {
    background-color: lightblue;

    border-radius: 30px;
    padding: 20px;
    width: 220px;
}

.home_robot h2 {
    border-bottom: 3px dashed navy;
    width: 210px;
}