html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}



header {
    height: 200px;

    font-family: "Ribeye";
    background-image: linear-gradient(to right, lightblue, white, lightblue);

    /* border: 1px solid; */
}

header p {
    position: absolute;
    left: 30%;
    font-size: 150px;
    margin: 0;

    opacity: 0.5;
}



footer {
    font-size: 20px;

    border-top: 10px solid green;
}

footer p, img {
    margin-left: 6%;
}

footer img {
    width: 60px;
    height: 60px;
    margin-bottom: 30px;
}


h1 {
    padding-top: 70px;
    font-size: 50px;

    text-align: center;
}

h2 {
    color: orange;
}



iframe {
    width: 400px;
    height: 300px;
}



.videos {
    margin-top: 30px;
    width: 90%;
    margin: 0 5% 30px 5%;

    display: flex;
    flex-wrap: wrap;

    /* border: 1px solid; */
}

.excursion {
    padding: 20px;
    width: 70%;

    float: left;

    /* border: 1px solid; */
}

.sea {
    padding: 20px;
    width: 70%;

    float: left;

    /* border: 1px solid; */
}

.anything {
    padding: 20px;
    width: 70%;

    float: left;

    /* border: 1px solid; */
}

.ad {
    width: 15%;
    height: 350px;
    margin-left: 100px;
    margin-top: 80px;
    font-size: 30px;
    
    text-align: center;

    border: 10px solid darkblue;
    border-radius: 15px;
}

.ad a {
    font-size: 23px;

    text-decoration: none;
    color: black;

    border-bottom: 2px dashed royalblue;
}

.ad p:first-child {
    padding: 0;
}

.ad p {
    padding-top: 20px;
}